<footer class="site-footer clearfix">
    {{> social-media}}
    <section class="site-footer-text">
    {{date format="YYYY"}} Our Theme. Theme crafted by Enrique based mainly on Casper. Proudly powered by <a href="//ghost.org">Ghost</a>.
    </section>         
</footer>