
<div class="header-container">
    
    <header class="site-head">
        <div class="header-text">
            <h1 class="blog-title"><a href="/">{{@blog.title}}</a></h1>
            <span class="blog-description">{{@blog.description}}</span>    
        </div>
    </header>
    
    {{navigation}}
    
</div>