<div class="social-media-inline">
    <ul>
        <li><a href="{{@blog.url}}/rss/" target="_blank" class="icon-feed"></a></li>
        <li><a href="//facebook.com/pages/Ribbon-and-Beard/353583881468828" target="_blank" class="icon-facebook"></a></li>
        <li><a href="//mongolia.charityrallies.org/ribbon-and-beard" target="_blank" class="icon-location"></a></li>
    </ul>
</div>