{{!< default}}

<main class="content" role="main">
<article class="{{post_class}}">
    <div id="top-two">  
        <div class="row">
            <div class="col-sm-6 text-center">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">The Missions</h3>
                    </div>
                    <div class="panel-body">
                        <figure class="support-image">
                            <a class="img" href="/missions" style="background-image: url(http://192.168.1.3:2368/content/images/2015/01/mission.jpg)">
                            <span class="hidden">TShirt Picture</span>
                            </a>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 text-center">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">The Gear</h3>
                    </div>
                    <div class="panel-body">
                        <figure class="support-image">
                            <a class="img" href="/next" style="background-image: url(http://192.168.1.3:2368/content/images/2015/01/tshirt.jpg)">
                            <span class="hidden">The Gear</span>
                            </a>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Where does it go?</h3>
                    </div>
                    <div class="panel-body support-content">
                        <img id="where-does-it-go" 
                         src="http://192.168.1.3:2368/content/images/2015/01/where-is-the-fund.jpg" 
                         alt="where does it go" >
                    </div>
                </div>
            </div>  
        </div>  
        <div class="row">    
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h3 class="panel-title">The Small Print</h3>
                    </div>
                    <div class="panel-body">
                        {{#post}}
                        <section class="post-content">
                            {{content}}
                        </section>
                        {{/post}}
                    </div>
                </div>
            </div>
        </div>   
    </div>
</article>
</main>