{{!< default}}

<main class="content" role="main">
<article class="{{post_class}}">
    <div id="top-two">  
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Save or Shave</h3>
                    </div>
                    <div class="panel-body support-content">
                        <img id="thebeard" 
                         src="/content/images/2015/02/SaveorShave.jpg" 
                         alt="the beard" >
                    </div>
                    <div class="panel-body pin">
                        <p class="form_stats" >
                            Total Raised: <b>£2,080/£10,000</b><br>
                        </p>
                        <p class="form_mission_desc">
                            All your donations will go to charity in the form of a vehicle and funds. Our target is £10,000. To make it more interesting, Enrique has agreed to shave The Beard as soon as we reach our goal. It will spoil our branding (temporarily) but it is all for a good cause. And with every donation you will get a ticket for our raffle :)
                        </p>
                    </div>
                </div>
            </div>  
        </div>
        <div class="row">
            <div class="col-sm-6 text-center">
                <div class="panel panel-default mission_box">
                    <div class="panel-heading">
                        <h3 class="panel-title">£10</h3>
                    </div>
                    <div class="form_hover ">
                        <img src="/content/images/2015/02/10.png" />
                        <div class="header">
                            <div class="panel panel_white">
                                <div class="panel-body" style="height: 241px; ">
                                    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=SFTNUMBJ3T9TQ">
                                        <img src="/content/images/2015/02/Donate_logo.png" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>    
                    <div class="panel-body pin">
                        <p class="form_mission_desc">
                            Donate £10 and get our eternal gratitude and a mention on our thank-you page.<!--CHANGE THIS-->
                        </p>
                        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=SFTNUMBJ3T9TQ" 
                           class="btn btn-md btn-default donate_button">
                            Donate with PayPal
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 text-center">
                <div class="panel panel-default mission_box">
                    <div class="panel-heading">
                        <h3 class="panel-title">£25</h3>
                    </div>
                    <div class="form_hover ">
                        <img src="/content/images/2015/02/25.png" />
                        <div class="header">
                            <div class="panel panel_white">
                                <div class="panel-body" style="height: 241px; ">
                                    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=3KMALLJ9YANZJ">
                                        <img src="/content/images/2015/02/Donate_logo.png" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>    
                    <div class="panel-body pin">
                        <p class="form_mission_desc">
                            Donate £25 and get not 1 but 3 tickets for our final raffle<br /><br /></a><!--CHANGE THIS-->
                        </p>
                        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=3KMALLJ9YANZJ" 
                           class="btn btn-md btn-default donate_button">
                            Donate with PayPal
                        </a>                        
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-center">
                <div class="panel panel-default mission_box">
                    <div class="panel-heading">
                        <h3 class="panel-title">£50</h3>
                    </div>
                    <div class="form_hover ">
                        <img src="/content/images/2015/02/50.png" />
                        <div class="header">
                            <div class="panel panel_white">
                                <div class="panel-body" style="height: 241px; ">
                                    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=3EX9UNJ27QMGE">
                                        <img src="/content/images/2015/02/Donate_logo.png" />
                                        
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>    
                    <div class="panel-body pin">
                        <p class="form_mission_desc">
                            Donate £50 and get a Ribbon and Beard t-shirt. They are pretty cool<!--CHANGE THIS-->
                        </p>
                        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=3EX9UNJ27QMGE" 
                           class="btn btn-md btn-default donate_button">
                            Donate with Paypal
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 text-center">
                <div class="panel panel-default mission_box">
                    <div class="panel-heading">
                        <h3 class="panel-title">£100</h3>
                    </div>
                    <div class="form_hover ">
                        <img src="/content/images/2015/02/100.png" />
                        <div class="header">
                            <div class="panel panel_white">
                                <div class="panel-body" style="height: 241px; ">
                                    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=62CPZ5MRNQ5WU">
                                        <img src="/content/images/2015/02/Donate_logo.png" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>    
                    <div class="panel-body pin">
                        <p class="form_mission_desc">
                            Donate £100 and get your name written on our car and a t-shirt<br /><br /><!--CHANGE THIS-->
                        </p>
                        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=62CPZ5MRNQ5WU" 
                           class="btn btn-md btn-default donate_button">
                            Donate with PayPal
                        </a>                        
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-center">
                <div class="panel panel-default mission_box">
                    <div class="panel-heading">
                        <h3 class="panel-title">£500</h3>
                    </div>
                    <div class="form_hover ">
                        <img src="/content/images/2015/02/500.png" />
                        <div class="header">
                            <div class="panel panel_white">
                                <div class="panel-body" style="height: 241px; ">
                                    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=79SQ8HLGW63TS">
                                        <img src="/content/images/2015/02/Donate_logo.png" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>    
                    <div class="panel-body pin">
                        <p class="form_mission_desc">
                            Donate £500 and get a t-shirt and your picture or logo on our car!!<br /><!--CHANGE THIS-->
                        </p>
                        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=79SQ8HLGW63TS" 
                           class="btn btn-md btn-default donate_button">
                            Donate with PayPal
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 text-center">
                <div class="panel panel-default mission_box">
                    <div class="panel-heading">
                        <h3 class="panel-title">Other amount</h3>
                    </div>
                    <div class="form_hover ">
                        <img src="/content/images/2015/02/other.png" />
                        <div class="header">
                            <div class="panel panel_white">
                                <div class="panel-body" style="height: 241px; ">
                                    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=TXY4Y5CB33LFA">
                                        <img src="/content/images/2015/02/Donate_logo.png" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>    
                    <div class="panel-body pin">
                        <p class="form_mission_desc">
                            We welcome any amount. Thank you!!!!<br /><br /><!--CHANGE THIS-->
                        </p>
                        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=TXY4Y5CB33LFA" 
                           class="btn btn-md btn-default donate_button">
                            Donate with PayPal
                        </a>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
</main>

