{{!< default}}

<main class="content" role="main">
<article class="{{post_class}}">
    {{#post}}
    <section class="post-content">
        {{content}}
    </section>
    {{/post}}
    <div id="top-two">  
        <div class="row">
            <div class="col-md-6 text-center">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Ghost</h3>
                    </div>
                    <div class="panel-body support-content">
                        <a href="https://ghost.org">
                            <img id="Ghost" 
                             src="/content/images/2015/02/ghostsmall.png" 
                             alt="Ghost" >
                        </a>
                    </div>
                    <div class="panel-body pin">
                        <p>
                            Ghost is a platform dedicated to one thing: Publishing. It's beautifully designed, completely customisable and completely Open Source. This blog is proudly powered by Ghost and hosted by Ghost (Pro). Thank you very much, you rock! <!--CHANGE THIS-->
                        </p>
                    </div>
                </div>
            </div>  
            <div class="col-md-6 text-center">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Five Guys</h3>
                    </div>
                    <div class="panel-body support-content">
                        <a href="http://www.fiveguys.co.uk">
                            <img id="FiveGuys" 
                             src="/content/images/2015/02/fiveguys.jpg" 
                             alt="Five Guys" >
                        </a>
                    </div>
                    <div class="panel-body pin">
                        <p>
                            One of the recent additions to London's burger scene. There are over 250,000 possible ways to order a burger at Five Guys. How is that for variety? The burgers are good, the fries (or chips) even better! <!--CHANGE THIS-->
                        </p>
                    </div>
                </div>
            </div>  
        </div>
        <div class="row">
            <div class="col-md-6 text-center">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">DK</h3>
                    </div>
                    <div class="panel-body support-content">
                        <a href="http://www.dk.co.uk">
                            <img id="DK" 
                             src="/content/images/2015/02/dk.png" 
                             alt="DK" >
                        </a>
                    </div>
                    <div class="panel-body pin">
                        <p>
                            DK publishes highly visual, photographic non-fiction for adults and children. Their range spans travel, including the award-winning DK Eyewitness Travel Guides, history, science, nature, sport, gardening, cookery and parenting.<!--CHANGE THIS-->
                        </p>
                    </div>
                </div>
            </div> 
            <div class="col-md-6 text-center">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Compare the Market</h3>
                    </div>
                    <div class="panel-body support-content">
                        <a href="http://www.comparethemarket.com/">
                            <img id="comparethemarket" 
                             src="/content/images/2015/02/comparethemarket.png" 
                             alt="Compare the Market" >
                        </a>
                    </div>
                    <div class="panel-body pin">
                        <p>
                            Founded in 2006, Compare the Market became only three years later the third-largest price comparison website in the UK following its advertising campaign featuring a series of meerkat characters. Simples! <!--CHANGE THIS-->
                        </p>
                    </div>
                </div>
            </div>  
        </div>
        <div class="row">
            <div class="col-md-6 text-center">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Busaba</h3>
                    </div>
                    <div class="panel-body support-content">
                        <a href="http://www.busaba.com/">
                            <img id="Busaba" 
                             src="/content/images/2015/03/busaba.png" 
                             alt="Busaba" >
                        </a>
                    </div>
                    <div class="panel-body pin">
                        <p>
                            Busaba Eathai is a modern Thai eatery. Busaba is tasty. Busaba is our favourite Thai restaurant in London<!--CHANGE THIS-->
                        </p>
                    </div>
                </div>
            </div> 
            <div class="col-md-6 text-center">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Becrypt</h3>
                    </div>
                    <div class="panel-body support-content">
                        <a href="https://www.becrypt.com/home">
                            <img id="becrypt" 
                             src="/content/images/2015/03/becrypt.png" 
                             alt="Becrypt" >
                        </a>
                    </div>
                    <div class="panel-body pin">
                        <p>
                            Becrypt has a long heritage of providing Enterprise Data Protection solutions to the most security conscious organisations, innovating to provide the highest levels of product assurance. <!--CHANGE THIS-->
                        </p>
                    </div>
                </div>
            </div>  
        </div>
        <div class="row">
            <div class="col-md-6 text-center">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Shawbrook</h3>
                    </div>
                    <div class="panel-body support-content">
                        <a href="https://www.shawbrook.co.uk">
                            <img id="Shawbrook" 
                             src="/content/images/2015/03/shawbrook.png" 
                             alt="Shawbrook" >
                        </a>
                    </div>
                    <div class="panel-body pin">
                        <p>
                            Shawbrook is a British Bank offering competitive rates for Savings Accounts, Asset Finance, Mortgages and Loans.<!--CHANGE THIS-->
                        </p>
                    </div>
                </div>
            </div> 
            <div class="col-md-6 text-center">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Zaldiaran</h3>
                    </div>
                    <div class="panel-body support-content">
                        <a href="http://www.restaurantezaldiaran.com/">
                            <img id="Zaldiaran" 
                             src="/content/images/2015/03/zaldiaran.png" 
                             alt="Zaldiaran" >
                        </a>
                    </div>
                    <div class="panel-body pin">
                        <p>
                            Michelin-star restaurant located in Vitoria (Spain) offering up-to-date cuisine based around traditional and international dishes, always prepared with high quality ingredients.  <!--CHANGE THIS-->
                        </p>
                    </div>
                </div>
            </div>  
        </div> 
    </div>
</article>
</main>