{{!< default}}

<main class="content" role="main">
<article class="{{post_class}}">
    <div id="top-two">  
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">£10000 = THE HALF BEARD</h3>
                    </div>
                    <div class="panel-body support-content">
                        <img id="thebeard" 
                         src="http://192.168.1.3:2368/content/images/2015/01/beard.jpg" 
                         alt="the beard" >
                    </div>
                    <div class="panel-body pin">
                        <p class="form_stats" >
                            Total Raised: <b>£300/£3000</b><br>
                            Donations: <i class="fa fa-heart"><b>104</b></i>
                        </p>
                        <p class="form_mission_desc">
                            All your donations will go to charity in the form of a vehicle and funds. Our target is £10000, which is a lot. £5000 for the vehicle, £1000 to get it ready... To make it more interesting, Enrique has agreed to shave half the beard when we reach our goal. It can't be the whole beard as it will spoil our branding.
                            See below for a list of options.
                        </p>
                    </div>
                </div>
            </div>  
        </div>
        <div class="row">
            <div class="col-sm-6 text-center">
                <div class="panel panel-default mission_box">
                    <div class="panel-heading">
                        <h3 class="panel-title">£5</h3>
                    </div>
                    <div class="form_hover ">
                        <p>5</p>
                        <div class="header">
                            <div class="panel panel_white">
                                <div class="panel-body" style="height: 241px; ">
                                    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=3KMALLJ9YANZJ">
                                        <img src="http://192.168.1.3:2368/content/images/2015/02/Donate_logo.png" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>    
                    <div class="panel-body pin">
                        <p class="form_stats" >
                            Pledges: <i class="fa fa-gavel"><b>104</b></i>
                        </p>
                        <p class="form_mission_desc">
                            Donate £5 and get our eternal gratitude, a mention on our thank-you page.<!--CHANGE THIS-->
                        </p>
                        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=3KMALLJ9YANZJ" 
                           class="btn btn-md btn-default donate_button">
                            Donate with paypal
                        </a>                        
                    </div>
                </div>
            </div>
            <div class="col-sm-6 text-center">
                <div class="panel panel-default mission_box">
                    <div class="panel-heading">
                        <h3 class="panel-title">£10</h3>
                    </div>
                    <div class="form_hover ">
                        <p>10</p>
                        <div class="header">
                            <div class="panel panel_white">
                                <div class="panel-body" style="height: 241px; ">
                                    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=SFTNUMBJ3T9TQ">
                                        <img src="http://192.168.1.3:2368/content/images/2015/02/Donate_logo.png" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>    
                    <div class="panel-body pin">
                        <p class="form_stats" >
                            Pledges: <i class="fa fa-gavel"><b>104</b></i>
                        </p>
                        <p class="form_mission_desc">
                            Donate £10<!--CHANGE THIS-->
                        </p>
                        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=3KMALLJ9YANZJ" 
                           class="btn btn-md btn-default donate_button">
                            Donate with paypal
                        </a>                        
                    </div>
                </div>
            </div>
        <div class="row">
            <div class="col-sm-6 text-center">
                <div class="panel panel-default mission_box">
                    <div class="panel-heading">
                        <h3 class="panel-title">T-SHIRTS</h3> <!--CHANGE THIS-->
                    </div>
                    <div class="form_hover ">
                        <img src="http://192.168.1.3:2368/content/images/2015/01/tshirt.jpg" /> <!--CHANGE THIS-->
                        <div class="header">
                            <div class="panel panel_black">
                                <div class="panel-body" style="height: 241px; ">
                                    <img src="http://192.168.1.3:2368/content/images/2015/01/Logo-v1-0---karu---inv.png" />
                                </div>
                            </div>
                        </div>
                    </div>    
                    <div class="panel-body pin">
                        <p class="form_stats">
                            Total Raised: <b>  £300</b><br> <!--CHANGE THIS-->
                            Pledges: <i class="fa fa-gavel"><b>104</b></i> <!--CHANGE THIS-->
                        </p>
                        <p class="form_mission_desc">
                            Donate £15 and get a Ribbon and Beard t-shirt. Aren't they just lovely?<!--CHANGE THIS-->
                        </p>
                        <a href="#" class="btn btn-md btn-default donate_button">Donate</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 text-center">
                <div class="panel panel-default mission_box">
                    <div class="panel-heading">
                        <h3 class="panel-title">T-SHIRTS</h3> <!--CHANGE THIS-->
                    </div>
                    <div class="form_hover ">
                        <img src="http://192.168.1.3:2368/content/images/2015/01/tshirt.jpg" /> <!--CHANGE THIS-->
                        <div class="header">
                            <div class="panel panel_black">
                                <div class="panel-body" style="height: 241px; ">
                                    <img src="http://192.168.1.3:2368/content/images/2015/01/Logo-v1-0---karu---inv.png" />
                                </div>
                            </div>
                        </div>
                    </div>    
                    <div class="panel-body pin">
                        <p class="form_stats">
                            Total Raised: <b>  £300</b><br> <!--CHANGE THIS-->
                            Pledges: <i class="fa fa-gavel"><b>104</b></i> <!--CHANGE THIS-->
                        </p>
                        <p class="form_mission_desc">
                            Donate £15 and get a Ribbon and Beard t-shirt. Aren't they just lovely?<!--CHANGE THIS-->
                        </p>
                        <a href="#" class="btn btn-md btn-default donate_button">Donate</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-center">
                <div class="panel panel-default mission_box">
                    <div class="panel-heading">
                        <h3 class="panel-title">THE POSTCARD</h3>
                    </div>
                    <div class="form_hover ">
                        <img src="http://192.168.1.3:2368/content/images/2015/01/beard.jpg" />
                        <div class="header">
                            <div class="panel panel_white">
                                <div class="panel-body" style="height: 241px; ">
                                    <img src="http://192.168.1.3:2368/content/images/2015/01/Logo-v1-0.png" />
                                </div>
                            </div>
                        </div>
                    </div>    
                    <div class="panel-body pin">
                        <p class="form_stats" >
                            Total Raised: <b>£0</b><br>
                            Pledges: <i class="fa fa-gavel"><b>1</b></i>
                        </p>
                        <p class="form_mission_desc">
                            For every £10 you donate you will receive a postcard from one of cities in Central Asia
                        </p>
                        <a href="#" class="btn btn-md btn-default donate_button">Donate</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 text-center">
                <div class="panel panel-default mission_box">
                    <div class="panel-heading">
                        <h3 class="panel-title">T-SHIRTS</h3> <!--CHANGE THIS-->
                    </div>
                    <div class="form_hover ">
                        <img src="http://192.168.1.3:2368/content/images/2015/01/tshirt.jpg" /> <!--CHANGE THIS-->
                        <div class="header">
                            <div class="panel panel_black">
                                <div class="panel-body" style="height: 241px; ">
                                    <img src="http://192.168.1.3:2368/content/images/2015/01/Logo-v1-0---karu---inv.png" />
                                </div>
                            </div>
                        </div>
                    </div>    
                    <div class="panel-body pin">
                        <p class="form_stats">
                            Total Raised: <b>  £300</b><br> <!--CHANGE THIS-->
                            Pledges: <i class="fa fa-gavel"><b>104</b></i> <!--CHANGE THIS-->
                        </p>
                        <p class="form_mission_desc">
                            Donate £15 and get a Ribbon and Beard t-shirt. Aren't they just lovely?<!--CHANGE THIS-->
                        </p>
                        <a href="#" class="btn btn-md btn-default donate_button">Donate</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
</main>

