{{!< default}}

<main class="content" role="main">
<article class="{{post_class}}">
    <div id="top-two">  
        <div class="row">
            <div class="col-sm-6 text-center">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">The Half Beard</h3>
                    </div>
                    <div class="panel-body pin">
                        <img src="http://192.168.1.3:2368/content/images/2015/01/beard.jpg" />
                        <p>
                            Would you like Enrique to be The Half-Beard. Click on the button below, we need to reach £5000!!!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 text-center">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Dancing with the Moonlight</h3>
                    </div>
                    <div class="panel-body pin">
                        <img src="http://cssdeck.com/uploads/media/items/2/2v3VhAp.png" />
                        <p>
                            Donec a fermentum nisi. Integer dolor est, commodo ut 
                            sagittis vitae, egestas at augue. Suspendisse id nulla 
                            ac urna vestibulum mattis. Duis rutrum porta tortor ut convallis.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-center">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">The Half Beard</h3>
                    </div>
                    <div class="panel-body pin">
                        <img src="http://192.168.1.3:2368/content/images/2015/01/beard.jpg" />
                        <p>
                            Would you like Enrique to be The Half-Beard. Click on the button below, we need to reach £5000!!!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 text-center">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Dancing with the Moonlight</h3>
                    </div>
                    <div class="panel-body pin">
                        <img src="https://mrdotd.files.wordpress.com/2009/04/dancing_in_the_moonlight_mr.jpg" />
                        <p>
                            Donec a fermentum nisi. Integer dolor est, commodo ut 
                            sagittis vitae, egestas at augue. Suspendisse id nulla 
                            ac urna vestibulum mattis. Duis rutrum porta tortor ut convallis.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
</main>

