{{!< default}}

<main class="content" role="main">
<article class="{{post_class}}">
    <div id="top-two">  
        <div class="row">
            <div class="col-sm-6 text-center">
                <div class="panel panel-default mission_box">
                    <div class="panel-heading">
                        <h3 class="panel-title">THE HALF BEARD</h3>
                    </div>
                    <div class="form_hover ">
                        <img src="http://192.168.1.3:2368/content/images/2015/01/beard.jpg" />
                        <div class="header">
                            <div class="panel panel_white">
                                <div class="panel-body" style="height: 241px; ">
                                    <img src="http://192.168.1.3:2368/content/images/2015/01/Logo-v1-0.png" />
                                </div>
                            </div>
                        </div>
                    </div>    
                    <div class="panel-body pin">
                        <p class="form_stats" >
                            Total Raised: <b>£300/£3000</b><br>
                            Pledges: <i class="fa fa-gavel"><b>104</b></i>
                        </p>
                        <p class="form_mission_desc">
                            Would you like Enrique to be The Half-Beard. Click on the image above, we need to reach £5000!!!
                        </p>
                        <a href="#" class="btn btn-md btn-default donate_button">Donate</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 text-center">
                <div class="panel panel-default mission_box">
                    <div class="panel-heading">
                        <h3 class="panel-title">T-SHIRTS</h3> <!--CHANGE THIS-->
                    </div>
                    <div class="form_hover ">
                        <img src="http://192.168.1.3:2368/content/images/2015/01/tshirt.jpg" /> <!--CHANGE THIS-->
                        <div class="header">
                            <div class="panel panel_black">
                                <div class="panel-body" style="height: 241px; ">
                                    <img src="http://192.168.1.3:2368/content/images/2015/01/Logo-v1-0---karu---inv.png" />
                                </div>
                            </div>
                        </div>
                    </div>    
                    <div class="panel-body pin">
                        <p class="form_stats">
                            Total Raised: <b>  £300</b><br> <!--CHANGE THIS-->
                            Pledges: <i class="fa fa-gavel"><b>104</b></i> <!--CHANGE THIS-->
                        </p>
                        <p class="form_mission_desc">
                            Donate £15 and get a Ribbon and Beard t-shirt. Aren't they just lovely?<!--CHANGE THIS-->
                        </p>
                        <a href="#" class="btn btn-md btn-default donate_button">Donate</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-center">
                <div class="panel panel-default mission_box">
                    <div class="panel-heading">
                        <h3 class="panel-title">THE POSTCARD</h3>
                    </div>
                    <div class="form_hover ">
                        <img src="http://192.168.1.3:2368/content/images/2015/01/beard.jpg" />
                        <div class="header">
                            <div class="panel panel_white">
                                <div class="panel-body" style="height: 241px; ">
                                    <img src="http://192.168.1.3:2368/content/images/2015/01/Logo-v1-0.png" />
                                </div>
                            </div>
                        </div>
                    </div>    
                    <div class="panel-body pin">
                        <p class="form_stats" >
                            Total Raised: <b>£0</b><br>
                            Pledges: <i class="fa fa-gavel"><b>1</b></i>
                        </p>
                        <p class="form_mission_desc">
                            For every £10 you donate you will receive a postcard from one of cities in Central Asia
                        </p>
                        <a href="#" class="btn btn-md btn-default donate_button">Donate</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 text-center">
                <div class="panel panel-default mission_box">
                    <div class="panel-heading">
                        <h3 class="panel-title">T-SHIRTS</h3> <!--CHANGE THIS-->
                    </div>
                    <div class="form_hover ">
                        <img src="http://192.168.1.3:2368/content/images/2015/01/tshirt.jpg" /> <!--CHANGE THIS-->
                        <div class="header">
                            <div class="panel panel_black">
                                <div class="panel-body" style="height: 241px; ">
                                    <img src="http://192.168.1.3:2368/content/images/2015/01/Logo-v1-0---karu---inv.png" />
                                </div>
                            </div>
                        </div>
                    </div>    
                    <div class="panel-body pin">
                        <p class="form_stats">
                            Total Raised: <b>  £300</b><br> <!--CHANGE THIS-->
                            Pledges: <i class="fa fa-gavel"><b>104</b></i> <!--CHANGE THIS-->
                        </p>
                        <p class="form_mission_desc">
                            Donate £15 and get a Ribbon and Beard t-shirt. Aren't they just lovely?<!--CHANGE THIS-->
                        </p>
                        <a href="#" class="btn btn-md btn-default donate_button">Donate</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
</main>

