.navbar-default  {
    background: white;
}

.navbar-default .navbar-brand {
    color: black;
    font-weight: bold;
}

.navbar-default ul li {
    margin-bottom: 0px;
    margin-top: 0px;
}

.navbar-default ul li:hover, 
.navbar-default ul li:active, 
.navbar-default ul li:focus{
    background-color: transparent;
    background-image: none;
}

.navbar-default .navbar-nav>li>a {
    color: black;
    text-transform: lowercase;
}

.navbar-default .navbar-nav>li>a:hover {
    font-weight: bold;
}

.dropdown-menu>li>a {
    text-transform: lowercase;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:active {
    background-color: white;
    font-weight: bold;
    background-image: none;
}

.navbar-default .navbar-toggle {
    background-color: transparent;
    border-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
    font-weight: bold;
}