.navbar-default  {
    background: white;
}

.navbar-default .navbar-brand {
    color: black;
    font-weight: bold;
}

.navbar-default ul li {
    margin-bottom: 0px;
    margin-top: 0px;
}

.navbar-default .navbar-nav>li>a {
    color: black;
    text-transform: lowercase;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #696969;
}

.navbar-default .navbar-toggle {
    background-color: transparent;
    border-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
    font-weight: bold;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
    background-color: transparent;   
}
